#[link(name = "uuid",
       vers = "0.1pre",
       uuid = "3ef20bf5-f609-4c96-bfb5-8e617274e705")];
#[crate_type = "lib"];
#[no_core];

extern mod core(vers = "0.5");
extern mod std(vers = "0.5");

use core::*;
use from_str::{FromStr, ToStr};
